:root {
  --black: #222831;
  --gray: #393E46;
  --dark-yellow: #E3B342;
  --yellow: #FFD369;
  --light-yellow: #FFDE8D;
  --white: #EEEEEE;
  --dark-blue: #2D768E;
  --blue: #45899F;
  --light-blue: #6EACC1;
  --animation-duration: .3s;
}

.message {
  font-size: 2em;
  color: var(--white);
  margin-bottom: 16px;
  margin-top: 40px;
}