:root {
  --black: #222831;
  --gray: #393E46;
  --yellow: #FFD369;
  --white: #EEEEEE;
}

header {
  width: 100%;
  border-bottom: 4px solid var(--gray);
  padding-bottom: 8px;
}

h3 {
  font-size: 1.5em;
  color: var(--yellow);
  margin: 0;
}

h1 {
  font-size: 3em;
  color: var(--white);
  margin: 0;
  line-height: 1em;
}